In [1]:
from pyspark.sql import SparkSession, functions as F, types as T

In [5]:
import os
os.environ["JAVA_HOME"] = "/Library/Java/JavaVirtualMachines/jdk-17.jdk/Contents/Home"

spark = SparkSession.builder.master("spark://spark-master:7077").config("spark.jars.packages", 
                                                                        "org.apache.hadoop:hadoop-aws-2.7.3").appName("spark-hw").getOrCreate()

25/06/07 14:22:39 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [6]:
print(spark.version)

3.5.5

In [8]:
actor_df = spark.read.csv('../data/actor.csv', header=True, inferSchema=True)
address_df = spark.read.csv('../data/address.csv', header=True, inferSchema=True)
category_df = spark.read.csv('../data/category.csv', header=True, inferSchema=True)
city_df = spark.read.csv('../data/city.csv', header=True, inferSchema=True)
country_df = spark.read.csv('../data/country.csv', header=True, inferSchema=True)
customer_df = spark.read.csv('../data/customer.csv', header=True, inferSchema=True)
film_df = spark.read.csv('../data/film.csv', header=True, inferSchema=True)
film_actor_df = spark.read.csv('../data/film_actor.csv', header=True, inferSchema=True)
film_category_df = spark.read.csv('../data/film_category.csv', header=True, inferSchema=True)
inventory_df = spark.read.csv('../data/inventory.csv', header=True, inferSchema=True)
language_df = spark.read.csv('../data/language.csv', header=True, inferSchema=True)
payment_df = spark.read.csv('../data/payment.csv', header=True, inferSchema=True)
rental_df = spark.read.csv('../data/rental.csv', header=True, inferSchema=True)
staff_df = spark.read.csv('../data/staff.csv', header=True, inferSchema=True)
store_df = spark.read.csv('../data/store.csv', header=True, inferSchema=True)

# Домашнє завдання на тему Spark SQL

Задачі з домашнього завдання на SQL потрібно розвʼязати за допомогою Spark SQL DataFrame API.

- Дампи таблиць знаходяться в папці `data`. Датафрейми таблиць вже створені в клітинці вище.
- Можете створювати стільки нових клітинок, скільки вам необхідно.
- Розвʼязок кожної задачі має бути відображений в самому файлі (використати метод `.show()`)
- код має бути оформлений у відповідності із одним із стилем, показаним лектором на занятті 13.

**Увага!**
Використовувати мову запитів SQL безпосередньо забороняється, потрібно використовувати виключно DataFrame API!

1.
Вивести кількість фільмів в кожній категорії.
Результат відсортувати за спаданням.

In [9]:
# тут має бути розвʼязок задачі

from pyspark.sql.functions import count


films_per_category_df = film_category_df.join(
    category_df,
    film_category_df.category_id == category_df.category_id,
    how='inner'
)


films_count_df = films_per_category_df.groupBy("name") \
    .agg(count("film_id").alias("film_count")) \
    .orderBy("film_count", ascending=False)


films_count_df.show()

+-----------+----------+
|       name|film_count|
+-----------+----------+
|     Sports|        74|
|    Foreign|        73|
|     Family|        69|
|Documentary|        68|
|  Animation|        66|
|     Action|        64|
|        New|        63|
|      Drama|        62|
|      Games|        61|
|     Sci-Fi|        61|
|   Children|        60|
|     Comedy|        58|
|     Travel|        57|
|   Classics|        57|
|     Horror|        56|
|      Music|        51|
+-----------+----------+

2.
Вивести 10 акторів, чиї фільми брали на прокат найбільше.
Результат відсортувати за спаданням.

In [16]:
from pyspark.sql.functions import count, concat_ws


actor_film_df = actor_df.join(
    film_actor_df,
    actor_df.actor_id == film_actor_df.actor_id,
    how='inner'
)


actor_inventory_df = actor_film_df.join(
    inventory_df,
    actor_film_df.film_id == inventory_df.film_id,
    how='inner'
)


actor_rental_df = actor_inventory_df.join(
    rental_df,
    actor_inventory_df.inventory_id == rental_df.inventory_id,
    how='inner'
)


actor_rental_count_df = actor_rental_df.withColumn(
    "full_name", concat_ws(" ", actor_df.first_name, actor_df.last_name)
).groupBy("full_name") \
 .agg(count("rental_id").alias("rental_count")) \
 .orderBy("rental_count", ascending=False)


actor_rental_count_df.show(10)

+------------------+------------+
|         full_name|rental_count|
+------------------+------------+
|       SUSAN DAVIS|         825|
|    GINA DEGENERES|         753|
|    MATTHEW CARREY|         678|
|       MARY KEITEL|         674|
|ANGELA WITHERSPOON|         654|
|       WALTER TORN|         640|
|       HENRY BERRY|         612|
|       JAYNE NOLTE|         611|
|        VAL BOLGER|         605|
|     SANDRA KILMER|         604|
+------------------+------------+
only showing top 10 rows

3.
Вивести категорія фільмів, на яку було витрачено найбільше грошей
в прокаті

In [ ]:
# тут має бути розвʼязок задачі

4.
Вивести назви фільмів, яких не має в inventory.

In [ ]:
# тут має бути розвʼязок задачі

5.
Вивести топ 3 актори, які найбільше зʼявлялись в категорії фільмів “Children”

In [ ]:
# тут має бути розвʼязок задачі

Stop Spark session:

In [ ]:
spark.stop()